.LogoSearch {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brow{
  display: flex;
}

.bclics {
  color: var(--orange);
  font-family: var(--style);
  font-weight:bolder;
  font-size: 2rem;
  cursor: pointer;
}

.bell{
  margin-top: 3.5rem;
  margin-left: 1rem;
}

.num{
  color: white;
  height: 1.4rem;
  width: 1.4rem;
  background: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:auto;
  margin-top: 3rem;
  margin-left: -0.6rem;
  gap: auto;
}

  .L-button{
  height: 3rem;
  width: 15rem;
  align-self: center;
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
  .brow {
  height: 9rem;
  width: 15rem;
}
  .bclics {
  height: 9rem;
  width: 15rem;
  font-size: 8rem;
}

}