.MessageCard{
    width: 100%;
    border-radius: 0.7rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.MessageCard>h2{
    color: var(--orange);
}

.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  
}

.Search > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(126, 210, 221);
  border-radius: 5px;
  padding: 4px;
  color: white;
}

.s-icon:hover {
  cursor: pointer;
}


.Message{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Message>div{
    display: flex;
    gap: 10px;
}


.MessageImage{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}

.MessageName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.MessageCont{
    align-items: center;
    
}

.MessageNameInner{
    display: flex;
    width:100%;
    justify-content: space-between;
    gap: 3rem;
    align-items:center;
}
.MessageNameOnline{
    margin-right: 0;
    text-align: end;
    color: green;
}
.MessageName>div>span:nth-of-type(1){
    font-weight: bold;
    font-size: 1rem;
}

.MessageNameInner>div{
    color: white;
    height: 1.1rem;
    width: 1.1rem;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:auto;
    margin: auto;
    gap: auto;
}

@media only screen and (max-width: 600px) and (min-width: 200px){
    .MessageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
}

/* @media only screen and (max-width: 1300px) and (min-width: 1000px){
    .MessageCard{
    width: 10rem;
    border-radius: 0.7rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
} */