.Post
{
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding: -1rem;
    gap: -1rem;
    margin-bottom: 1rem; */
}

.imgclass {
  height: 240px;
}


.imgclass>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postReact {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
  gap: 0.5rem;
  top: 2rem;
  right: 1.5rem;
}

.postReact > div {
  display: flex;
  flex-direction: column;
  font-size: 7px;
  /* gap:0.5rem; */
  color: white;
}

.postReact > div> i {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* gap:0.5rem; */

}

.postReact>img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.detail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  bottom: 0.8rem;
  left: 1rem;
  width: 70%;
  padding: 10px;
  background-color: rgba(237, 225, 225, 0.218);
  border-radius: 1rem;
  color: white;
  margin: 0;
}

@media only screen and (max-width: 600px) and (min-width: 200px){
  .postReact{
    right:0.8rem;
  }
  /* .imgclass{
    height: 95vh;
  } */
}

@media only screen and (max-width: 600px) and (min-width: 200px){
  .Post
{
    display: flex;
    flex-direction: column;
    /* margin-left:1.1rem;
    margin-right: 1.1rem; */
}
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
  /* .Post
{
    margin-bottom:2rem;
} */
}