.pic-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s ease-in-out;
    min-height: 100%;
}
.close-icon-wrapper {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.close-icon-wrapper > img {
    width: 30px;
    padding-top: 30px;
}
.picc {
    display: flex;
    width: 100%;
    justify-content: center;
}

.picc>img {
    width: 550px;
    height: 400px;
}

@media screen and (max-width: 992px) {
    .pic-wrapper {
        min-height: 100vh;
    }
    .picc>img {
        width: 320px;
        height: 350px;
    }
}